.SearchForm{
    margin: 0 auto;
    padding: 25px 20px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 5px #ccc;
    border-radius: 3px;
    border: 1px solid rgb(228, 228, 228);
    font-weight: 650;
}

.SearchForm *{
    outline: none;
}

.SearchForm *:last-child{
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: 4px 5px;
}

@media(max-width : 400px){
    .SearchForm{
        flex-direction: column;
    }
    .SearchForm label{
        margin-bottom: 15px;
    }
}